.container{
    display: flex;
    margin: 10px;
    padding: 10vh;
    justify-content: space-between;
    border: 2px solid #E7EDF1;
    border-radius: 2px;
    background: #fff;
}

.btn{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.game-container{
    display: flex;
    justify-content: space-between;
}
.btn-danger, .btn-success{
    display: none;
}
.stick1 , .stick2 , .stick3{
    position: relative;
    left: 20px;
    width: 50px;
    height: 200px;
    margin-right: 100px;
    background-color: darkslategrey;
    /* -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75); */
}
.box1 , .box2, .box3{
     width: 100px;
     height: 100px;
     border-radius: 5px;
     -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.box1{
    background: coral;
}
.box2{
    background: darkorchid;
}
.box3{
    background: brown;
}
.timer{
    width: 20px;
    height: 20px;
    font-size: 50px;
    color: darkslategray;
}
.disk{
    width: 50px;
    height: 50px;
    position: relative; 
    /* left: -10px; */
    top: 50px;
    border-radius: 50%;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.coral{
    background: coral;
}
.brown{
    background: brown;
}
.darkorchid{
    background: darkorchid;
}
.one{
    width: 20px;
    height: 20px;
}
.game-result-container{
    width: 250px;
    height: 200px;
}